h1 {
    color: magenta;
    font-size: 50pt;
}

.calibri-text {
    font-family: calibri;
}

.coding-projects {
    width: 100%;
    padding: 30px;
    border: solid blueviolet;
    border-width: 5px;
    background-color: yellow;
    margin: auto;
    box-sizing: border-box;
    float: right;
}

.curtis-pic {
    width: 40%;
    height: auto;
    margin: auto;
    float: right;
    padding: 10pt;
}

.about-me {
    width: 50%;
    padding: 10px;
    border: solid black;
    border-width: 5px;
    background-color: orange;
    margin: 10px;
    box-sizing: border-box;
    float: left;
}